.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px; /* = header height*/
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 4px;
}

.sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(237, 237, 237);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 10px;

}